<section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
           <h2 class="heading-secondary">
               Tours increibles para gente aventurera
           </h2>
    </div>

    <div class="row">
           <div class="col-1-of-2">
               <h3 class="heading-tertiary u-margin-bottom-small">
                   Te estás enamorando de la naturaleza 
               </h3>
               <p class="paragraph">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur numquam amet nihil id. Magnam, officiis? Dolor cumque est architecto, eius possimus, beatae dolores fugit maiores sapiente debitis, quisquam sit?
               </p>

               <h3 class="heading-tertiary u-margin-bottom-small">
                       Experimenta aventuras como nunca antes
                   </h3>
               <p class="paragraph">
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum delectus labore cumque voluptas suscipit perferendis culpa soluta eaque, optio nam? A, officiis perferendis. Ab aliquid aliquam explicabo fuga ad corrupti!
               </p>
               <a href="#" class="btn-text">
                   Ver más &rarr;
               </a>
           </div>
           <div class="col-1-of-2">
              <div class="composition">
                  <img src="img/nat-1-large.jpg" alt="Foto 1" class="composition__photo composition__photo--p1">
                  <img src="img/nat-2-large.jpg" alt="Foto 2" class="composition__photo composition__photo--p2">
                  <img src="img/nat-3-large.jpg" alt="Foto 3" class="composition__photo composition__photo--p3">
              </div>
           </div>
   </div>

</section>